@font-face {
    font-family: Consolas;
    src: url("../fonts/Consolas.ttf");
}
:root {
	--light-blue: #90bed4;
	--dark-blue: #3f46b5;
}
body{
	font-family: Consolas;
}
header{
	padding: 2vw 4vw 2vw 4vw;
	display: grid;
	grid-template-columns: 40vw 1fr 10vw;
	grid-template-areas: 
	"logo leeg hamburger";
	position: relative;
}
#logo{
	grid-area: logo;
	width: 100%;
}
#hamburger{
	grid-area: hamburger;
	width: 100%;
}
#hamburgerDropdown {
	display: none;
	width: 100%;
	position: absolute;
	right: 0;
	top: 12vw;
	background-color: white;
	border: 1px solid var(--dark-blue);
}
#hamburgerDropdown li {
	list-style-type: none;
}
#hamburgerDropdown a {
	text-decoration: none;
	color: var(--dark-blue);
	font-size: 5vw;
}
.home_container{
	padding: 2vw;
	display: grid;
	grid-column-gap: 5vw;
	grid-row-gap: 3vw;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(3, auto);
	
}
.home_menu{
	width: 100%;
	-webkit-box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.4);
	border-radius: 8px;
}
@media (min-width: 768px) {
	header {
		grid-template-columns: 32vw 1fr 7vw;
	}
	.home_container {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(2, auto);
	}
	#hamburgerDropdown {
		width: auto;
		top: 9vw;
		right: 1vw;
	}
	#hamburgerDropdown a {
		font-size: 4vw;
	}
}