@font-face {
    font-family: Consolas;
    src: url("../fonts/consola.ttf");
}

* {margin: 0 auto; padding: 0 auto;}

:root {
	--light-blue: #90bed4;
	--dark-blue: #3f46b5;
}
body{
	font-family: Consolas;
	color: white;
}
#inlogBody {
	color: var(--light-blue);
	background-color: var(--light-blue);
}
#inlogForm {
	background-color: white;
	width: 80vw;
	margin: 10vw 8vw ;
	padding: 2vw;
}
#inlogForm h2 {
	font-size: 5vw;
	padding-bottom: 1vw;
}
#inlogForm label {
	font-size: 4vw;
}
header{
	padding: 2vw 4vw 2vw 4vw;
	display: grid;
	grid-template-columns: 40vw 1fr 10vw;
	grid-template-areas: 
	"logo leeg hamburger";
	position: relative;
}
#logo{
	grid-area: logo;
	width: 100%;
}
#hamburger{
	grid-area: hamburger;
	width: 100%;
}
#hamburgerDropdown {
	display: none;
	width: 100%;
	position: absolute;
	z-index: 5;
	right: 0;
	top: 12vw;
	background-color: white;
	border: 1px solid var(--dark-blue);
}
#hamburgerDropdown li {
	list-style-type: none;
}
#hamburgerDropdown a {
	text-decoration: none;
	color: var(--dark-blue);
	font-size: 5vw;
}
.home_container{
	padding: 2vw;
	display: grid;
	grid-column-gap: 5vw;
	grid-row-gap: 3vw;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(3, auto);
	
}
.home_menu{
	width: 100%;
	-webkit-box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.4);
	border-radius: 8px;
}
.home_tekst{
	color: var(--dark-blue);
	padding: 2vw 4vw;
	width: calc(100% - 8vw);
}
.home_tekst h1 {
	font-size: 7vw;
}
.home_tekst p {
	font-size: 4vw;
}
footer {
	margin-top: 1vw;
	background-color: var(--light-blue);
	padding: 2vw 4vw;
	width: calc(100% - 8vw);
}
footer h2 {
	font-size: 6vw;
}
footer p {
	font-size: 4vw;
	padding-top: 1vw;
}
#formFooter {
	display: grid;
	grid-template-rows: repeat(2, auto);
	grid-template-columns: 1fr;
	grid-template-areas: "input" "submit";
	align-items: end;
}
#footerInput {
	grid-area: input;
	margin-top: 1vw;
	width: 100%;
	height: 20vw;
	border: 1px solid var(--dark-blue);
}
#footerSubmit {
	grid-area: submit;
	margin-top: 1vw;
	border-radius: 8px;
	font-size: 4vw;
	color: white;
	border: 0 none;
	background: linear-gradient( var(--light-blue),  var(--dark-blue));
}

/*rekenpagina*/
.container{
	padding: 2vw;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(3, auto);
	grid-template-areas: "berekening berekening"
						"knopA knopB"
						"uitkomst uitkomst";
	grid-column-gap: 3vw;
	grid-row-gap: 5vw;

}
#rekenen_container{
	grid-template-rows: repeat(4, auto);
	grid-template-areas: "berekening berekening"
						"knopA knopB"
						"knopC knopD"
						"uitkomst uitkomst";
}
#berekening {
	background-color: white;
	width: 100%;
	-webkit-box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.4);
	border-radius: 8px;
	border: 1px solid var(--light-blue);
	color: var(--light-blue);
	text-align: center;
	grid-area: berekening;
	font-size: 4vw;
}
#berekening p {
	font-size: 3.5vw;
	padding: 2vw 3vw 2vw 3vw;
}
#berekening label {
	font-size: 3.5vw;
}
.inputRek, .inlogInput {
	width: 15vw;
	border: 1px solid var(--light-blue);
	font-size: 2.5vw;
	color: var(--dark-blue);
}
.inlogInput {width: 25vw;}
.inlogInput, #inlogSubmit {
	margin-bottom: 1vw;
}
#submitRek, #inlogSubmit {
	margin-top: 1vw;
	font-size: 3.5vw;
	color: white;
	border: 1px solid var(--light-blue);
	background: linear-gradient( var(--light-blue),  var(--dark-blue));
}
.buttonR{
	background-color: var(--light-blue);
	width: 100%;
	height: auto;
	font-size: 5vw;
	-webkit-box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.4);
	border-radius: 8px;
	border: 0 none;
	color: white;
}
#reken_knopA{
	grid-area: knopA;
}
#reken_knopB{
	grid-area: knopB;
}
#reken_knopC{
	grid-area: knopC;
}
#reken_knopD{
	grid-area: knopD;
}
#uitkomst{
	background-color: white;
	width: 100%;
	height: auto;
	font-size: 3.5vw;
	-webkit-box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.4);
	border-radius: 8px;
	border: 1px solid var(--light-blue);
	color: var(--light-blue);
	text-align: center;
	grid-area: uitkomst;
}

/*dobbelenPagina*/
#dobbelenContainer {
	grid-template-rows: repeat(7, auto);
	grid-template-areas: "berekening berekening"
						"spinIt spinIt"
						"pointer1 pointer2"
						"rad1 rad2"
						"clearIt clearIt"
						"numberRad1 numberRad2"
						"uitkomst uitkomst";
	grid-row-gap: 2vw;
}
#pointer1{
	grid-area: pointer1;
}
#pointer2{
	grid-area: pointer2;
}
.pointer {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #000;
	margin: 10px  auto 10px auto;
}
#rad1 {grid-area: rad1;} #rad2{grid-area: rad2;}
.rad {
	grid-area: rad;
	width: 200px;
	height: 200px;
	z-index: 2;
	background-image: url('../images/rad_6.gif');
	background-size: contain;
	margin: 0 auto;
}
#spinIt, #btnClearIt{
	height: auto;
	font-size: 4vw;
	grid-area: spinIt;
	width: 100%;
	border: 1px solid var(--light-blue);
	background: var(--light-blue);
	color: white;
}
#numberRad1{grid-area: numberRad1; } #numberRad2{grid-area: numberRad2;}
.numberRad {
	width: 70%;
	font-size: 4vw;
	-webkit-box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.4);
	border-radius: 8px;
	border: 1px solid var(--light-blue);
	color: var(--light-blue);
	text-align: center;
}
#btnClearIt {
	grid-area: clearIt;
	
}
@media (min-width: 768px) {
	#inlogForm{
		width: 50vw;
		margin: 10vw 23vw ;

	}
	#inlogForm h2{
		font-size: 3vw;
	}
	#inlogForm label {
		font-size: 2vw;
	}
	header {
		grid-template-columns: 32vw 1fr 7vw;
	}
	.home_container {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(2, auto);
	}
	#hamburgerDropdown {
		width: auto;
		top: 9vw;
		right: 1vw;
	}
	#hamburgerDropdown a {
		font-size: 4vw;
	}
	.home_tekst{
		font-size: 2vw;
	}
	.home_tekst h1 {
		font-size: 6vw;
	}
	.home_tekst p {
		font-size: 2vw;
	}
	footer h2 {
		font-size: 5vw;
	}
	footer p {
		font-size: 2vw;
	}
	#formFooter {
		grid-template-rows: 1fr;
		grid-template-columns: 70vw 1fr;
		grid-template-areas: "input submit";
	}
	#footerInput{
		width: 100%;
	}
	#footerSubmit {
		align-self: bottom;
	}
	.buttonR {
		font-size: 2vw;
	}
	/*rekenpagina*/
	#rekenen_container{
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(3, auto);
		grid-template-areas: "berekening berekening berekening berekening"
							"knopA knopB knopC knopD"
							"uitkomst uitkomst uitkomst uitkomst";
	}
	#berekening{
		font-size: 2.5vw;
	}
	#berekening p {
		font-size: 1.5vw;
	}
	#berekening label {
		font-size: 1.5vw;
	}
	.buttonR{
		height: 10vw;
		font-size: 2vw;
	}
	#uitkomst{
		overflow-y: scroll;
		height: 20vw;
		font-size: 2.5vw;
	}
	#berekening p {
		font-size: 2vw;
	}
	#berekening label {
		font-size: 2vw;
	}
	.inputRek, .inlogInput {
		width: 15vw;
		height: 2vw;
		border: 1px solid var(--light-blue);
	}
	.inlogInput {
		font-size: 1.5vw;
		width: 15vw;
	}
	#submitRek, #inlogSubmit {
		font-size: 1.5vw;
	}
	/*dobbelen*/
	#spinIt, #btnClearIt{
		font-size: 2vw;
	}
	.numberRad {
		font-size: 2vw;
	}
}