@font-face {
    font-family: Consolas;
    src: url("../fonts/Consolas.ttf");
}
header{
	padding: 2vw 4vw 2vw 4vw;
	display: grid;
	grid-template-columns: 40vw 1fr 10vw;
	grid-template-areas: 
	"logo leeg hamburger";
}
.logo{
	grid-area: logo;
	width: 100%;
}
.hamburger{
	grid-area: hamburger;
	width: 100%;
}
.home_container{
	padding: 2vw;
	display: grid;
	grid-column-gap: 5vw;
	grid-row-gap: 3vw;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(3, auto);
	
}
.home_menu{
	width: 100%;
}
@media (min-width: 768px) {
	header {
		grid-template-columns: 32vw 1fr 7vw;
	}
	.home_container {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(2, auto);
	}

}